<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Browser Desktop - アカウント登録</title>
    <meta name="description" content="Browser Desktop は、お気に入りのWebサービスやツールへのアクセスを一括管理できるWebアプリです。よく使うサイトを、デスクトップ感覚でワンクリック起動。煩雑になりがちなブックマークを整理して、シンプル＆スマートな作業環境を実現します。">
    <meta name="keywords" content="デスクトップ, ショートカット">
    <meta property="og:title" content="Browser Desktop">
    <meta property="og:description" content="Browser Desktop は、お気に入りのWebサービスやツールへのアクセスを一括管理できるWebアプリです。よく使うサイトを、デスクトップ感覚でワンクリック起動。煩雑になりがちなブックマークを整理して、シンプル＆スマートな作業環境を実現します。">
</head>
<body>
    <header>
        <img class="logo" src="/res/img/logo.png">
    </header>
    <main>
        <% if (error_msg && error_msg.length > 0) { %>
            <div class="error-alert"><%= error_msg[0] %></div>
        <% } %>

        <h2>アカウント登録</h2>
        <form action="/auth/register" method="post">
            <div>
                <input name="username" type="text" placeholder="ユーザーネーム" required>
            </div>
            <div>
                <input name="password" type="password" placeholder="パスワード" required>
            </div>
            <ul>
                <p>パスワードは以下の条件を満たす必要があります</p>
                <li>8文字以上</li>
                <li>大文字・小文字・数字を1文字以上含む</li>
            </ul>
            <button type="submit">登録</button>
        </form>
        <a href="/auth/login">ログインはこちら</a>
    </main>
</body>
</html>
