<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Browser Desktop - アカウント登録</title>
</head>
<body>
    <header>
        <img class="logo" src="/res/img/logo.png">
    </header>
    <main>
        <% if (error_msg && error_msg.length > 0) { %>
            <div class="error-alert"><%= error_msg[0] %></div>
        <% } %>

        <h2>アカウント登録</h2>
        <form action="/auth/register" method="post">
            <div>
                <input name="username" type="text" placeholder="ユーザーネーム" required>
            </div>
            <div>
                <input name="password" type="password" placeholder="パスワード" required>
            </div>
            <button type="submit">登録</button>
        </form>
        <a href="/auth/login">ログインはこちら</a>
    </main>
</body>
</html>
