main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main * {
    width: 30em;
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

main input {
    text-align: left;
}
